# paystack
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=
PAYSTACK_SECRET_KEY=
NEXT_PUBLIC_APP_URL=

# supabase config
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=
SUPABASE_SECRET_KEY=
NEXT_PUBLIC_SUPABASE_STORAGE_BUCKET=

#platform config
COMMISSION_RATE=0.01
FREE_BOOKINGS=20
SERVICE_FEE=20